/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


                                    	/*Custom style */
                                    /* portfolio page- moblie verion */
	body{
		font-family: 'Josefin Sans', sans-serif;
		color:#3C3B3A ;
	}

	/* set a background image and add shadow  */
	header{
		background-image: url(../img/b11.jpg);
		background-position:center;
		background-repeat:no-repeat;
		background-size: cover; 
		padding: 20px 0 40px 0;
		height: 430px;
		box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.918);
		
	}
	.navigation{
		display: grid;
		justify-content: center;
	}
	.logo{
		width:70px;
		padding: 0 35px;
		box-shadow: none;
		
	}
	nav ul li a{
		color: white;
		text-decoration: none;	
		text-shadow: black 0.1em 0.1em 0.2em;
		font-size: 17px;
		text-align: center;
		padding: 10px;
		line-height: 20px;
		display: block;
		color: rgb(254, 254, 255);
	  
	}

	nav a:hover,
	nav a.active{
		font-size: 16px;
		line-height: 20px;
		text-decoration-line: underline;
	}
	main{
		margin: 30px;
	}
	/* bg color on section one */
	.one .a {
		/* background: rgba(226, 235, 236, 0.738); */
		background: linear-gradient(to right,rgb(255, 255, 255), rgb(219, 230, 234));
	}




	.one h3{
		margin: 20px 0;
		line-height: 30px;
	}
	
	button{
		border-style: hidden;
		border-radius: 50px;
		background-color: #4B4740;
		color: white;
		font-size: 20px;
		margin: 10px 0;   
		text-align: center;
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
	}
	.two{
		margin: 30px 0;
	}
	/* add shadow to all images */
	img{
		box-shadow: 4px 6px 6px 2px rgba(88, 81, 80, 0.815);
	}
	.web{
		margin: 20px 0;
		display: grid;
		grid-gap: 30px;
	
	}

	.website1{
	background-image: url(../img/web_shcool.PNG);
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr ;
	}
	.website1 h1, .vid h1, .ux h1,.cms h1{
		font-size: 30px;
		color: rgba(253, 253, 253, 0.808);	
		text-align: center;
		font-weight: bold;
		text-shadow: rgba(78, 75, 74, 0.815) 0.1em 0.1em 0.2em;
	}
	
	.website1 h1:hover,.vid h1:hover, .ux h1:hover,.cms h1:hover{
		color: rgb(238, 244, 246);	
		background: rgba(208, 213, 213, 0.181);
		text-shadow: rgba(58, 61, 59, 0.886) 0.1em 0.2em 0.3em;
		
	}
	/* .website1 div{
		background: rgba(159, 165, 164, 0.473);
		
	} */
	.vid{
		background-image: url(../img/video.PNG);
		background-position:center;
		background-repeat:no-repeat;
		background-size: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr ;
	}
	.ux{
		background-image: url(../img/ux\ 1.PNG);
		background-position:center;
		/* width: 100%; */
		background-repeat:no-repeat;
		background-size: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		text-align: center;	
	}
	.cms{
		background-image: url(../img/cms.PNG);
		background-position:center;
		background-repeat:no-repeat;
		background-size: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr ;
	}

	.footer{
		background-image: url(../img/f3.jpg);
		background-position:center;
		background-size: cover;
		display: grid;
		grid-template-columns: 1fr 7fr;
		color: white;
		line-height: 20px;

	}
	footer .logo{
		width:20px;
	}
	footer div{
		margin:20px 0;
		font-size: 13px;	
	}
	a {
		color: white;
		text-decoration:none;    
	}
	footer a:hover{
		text-decoration-line: underline;
	}

 								/* Table Version- portfolio page */
@media screen and (min-width:450px) and (max-width:768px){
	.navigation{
		display: grid;
		grid-template-columns:2fr 6fr;
	
	}
	
	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	.logo{
		width:50px;
		margin-left: 30%;
	}
	.home,
	.about,
	.portfolio{
		border-right: 1px solid white;	
	}
	nav ul li a{
        font-size: 15px;
    }
	.contact{
		margin-bottom: 200px;
	}
	h1{
		font-style: italic;
		font-size: 30px;
	}
	
	nav a:hover,
	nav a.active{
		font-size: 21px;
	}

	.one h3{
		font-size: 22px;
	}
	button{
		font-size: 18px;
		padding: 5px;
		margin-top: 20px;
		box-shadow: 4px 6px 6px 2px rgba(63, 59, 59, 0.5);
	}
		/* display the imanges in grid */
	.two{
		display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr;
			grid-template-areas:
					"cake ride "
					"night night ";
		margin-top: 50px;
	}
	.cake{
		grid-area: cake;
		height: 100%;
	}
	.ride{
		grid-area: ride;
		height: 100%;
	}
	.night{
		grid-area: night;
	}

	footer .logo{
		width:25px;
		margin: 0 0 0 30px;
	}
	footer div{
		margin:18px 0;
		font-size: 16px;	
	}
	footer .social{
		margin: 15px 0;
	}
	.im-twitter:before,.im-instagram:before{
		font-size: 18px;
		margin: 0 5px;
	}
}	


										/* Desktop Version- portfolio page */
@media screen and (min-width:768px){
	.navigation{
		display: grid;
		grid-template-columns:2fr 6fr;
	}
	
	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 5px;
	}
	
	.logo{
		width:50px;
		margin-left: 30%;
	}

	.home,
	.about,
	.portfolio{
		border-right: 1px solid white;	
	}
	nav ul li a{
		font-size: 20px;
	}
	nav a:hover,
	nav a.active{
		font-size: 25px;
	}
	.contact{
		margin-bottom: 200px;
	}

.a{
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.a .p{
	margin-top: 30px;
	line-height: 28px;
}
.avatar, .icon{
	margin:5% 0;
	height: 500px;
}

	/* add the margin of graphic amd text */
	img.avatar{
		margin: 30px 30px 30px 30px;
	}

	div.p{
		margin: 30px 30px 30px 30px;
	}

	img.icon{
		margin: 30px 30px 30px 30px;
	} 



.one h3{
	margin: 80px 30px 30px 30px;
}
/* .web{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	margin-bottom: 70px;
} */
.web h1{
	font-size: 100px;
}



	.one h3{
		font-size: 23px;
	}
	button{
		font-size: 18px;
		padding: 5px;
	}
	.one {
		border-bottom: 2px solid rgba(172, 164, 163, 0.815); 
	}
	div.web{
		margin: 0px 0px 110px 0px;
	}

	/* display the imanges in grid */
	.two{
		display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr;
			grid-template-areas:
					"ride cake "
					"night night ";
		margin-top: 110px;
	}
	.cake{
		grid-area: cake;
		height: 100%;
	}
	.ride{
		grid-area: ride;
		height: 100%;
	}
	.night{
		grid-area: night;
	} 
	
/* changed font,a logo and icons size  */
	
	footer .logo{
		width:30px;
		margin: 0 0 0 50px;
	}
	footer div{
		margin:20px 0;
		font-size: 20px;	
	}
	.text{
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-gap: 40px;   
		margin: 25px 0 0 0;   
	}	
}