/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


                                    /*Custom style */
                                    /* Home page- moblie verion */
body{
	font-family: 'Josefin Sans', sans-serif;
	background-image: linear-gradient(rgb(255, 255, 255),rgb(246, 245, 245), rgb(228, 228, 226));
}

/* set a background image and add the shadow */
 header{
    background-image: url(../img/banner.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover; 
	padding: 20px 0 40px 0;
	height: 430px;
	box-shadow: 4px 6px 6px 2px rgba(65, 58, 57, 0.815);
}
.navigation{
	display:grid;
	justify-content: center;
}
.logo{
	width:70px;
    padding: 0 35px;
}
nav ul li a{
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;	
	font-size: 17px;
	text-align: center;
	padding: 10px;
	line-height: 20px;
	display: block;
	color: rgb(254, 254, 255);
}
nav a:hover,
nav a.active{
	/* font-weight: bold; */
	font-size: 18px;
	line-height: 20px;
	text-shadow: rgba(44, 44, 44, 0.889) 0.2em 0.2em 0.2em;
	/* text-decoration-line: underline; */
}
h1{
	font-family: 'Caveat', cursive;
	text-align: center;
	font-stretch: 18px;
	margin: 30px;
	text-shadow: rgba(187, 182, 180, 0.815) 0.1em 0.1em 0.2em;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;

  }

.contact{
	margin-bottom: 200px;
}

.section1 {
	margin:50px 10px;
	display: grid;
	line-height: 50px;
	text-align: center;
}
.section1 a{
	color: rgb(48, 47, 47);
	font-size: 20px;
	text-shadow: rgb(122, 120, 120)0.1em 0.1em 0.2em;
}
a.cms:hover, a.por:hover{
	font-size:23px ;
	/* text-decoration-line: underline; */
	color: rgb(105, 102, 102);

}
.arrow{
	width: 22px;
	
  
}

.website{
	background-image: url(../img/Moby\ Dick\ -\ Post\ 1.1.png);
	background-position:center;
	background-size: cover;
	margin: 30px auto;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	max-width: 80px;
	box-shadow: 4px 6px 6px 2px rgba(75, 74, 74, 0.788);
}
.photography{
	background-image: url(../img/Educators.png);
	background-position:center;
	background-size: cover;
	padding: 90px 90px;
	margin: 30px auto;
	max-width: 80px;
	box-shadow: 4px 6px 6px 2px rgba(75, 74, 74, 0.788);
}
.photography h1{
	color: white;
	/* font-weight: bold; */
	text-align: left;
	font-size: 21px;
	font-weight: bold;
}
.graphics{
	background-image: url(../img/uiux.png);
	background-position:center;
	background-size: cover;
	padding: 90px 90px;
	margin: 30px auto;
	max-width: 80px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	box-shadow: 4px 6px 6px 2px rgba(75, 74, 74, 0.788);
}
.video{
	background-image: url(../img/ARC.png);
	background-position:center;
	background-size: cover;
	padding: 90px 90px;
	margin: 30px auto;
	max-width: 80px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	box-shadow: 4px 6px 6px 2px rgba(75, 74, 74, 0.788);
}

/* add the line on the buttom of the main section */
main {
	border-bottom: 2px double #ccc;
	display: block;
}

/* display footer in 1fr 5fr 2fr in columns */
.footer{
	/* background-image: url(../img/footer.png); */
	background-position:center;
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr 7fr;
	color: rgb(59, 56, 56);	
	line-height: 20px;
}
footer .logo{
	width:30px;
}
footer div{
	margin:20px 0;
	font-size: 13px;
	
}
a {
    color: rgb(59, 56, 56);
    text-decoration:none;    
}
footer a:hover{
    text-decoration-line: underline;
}


                                       /* Table Version- Home page */
@media screen and (min-width:450px) and (max-width:768px){
.navigation{
	display: grid;
	grid-template-columns:1fr 8fr;

}

nav ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo{
	width:50px;
	margin-left: 30%;
}
.home,
.about,
.portfolio{
	border-right: 1px solid white;	
}
nav ul li a{
	font-size: 15px;
}
.website, 
	.photography,
	.graphics,
	.video{
		padding: 5%;

	}
h1{
	font-style: italic;
	font-size: 30px;
}



nav a:hover,
nav a.active{
	font-size: 20px;
}

/* changed the font and a logo size */
footer .logo{
	width:25px;
	margin: 0 0 0 30px;
}
footer div{
	margin:18px 0;
	font-size: 13px;
	
}
footer .social{
	margin: 10px 0 5px 10px;
}
.im-twitter:before,.im-instagram:before{
	font-size: 13px;
	margin: 0 5px;
}




}


									/* Desktop Version -Home page */
@media screen and (min-width:768px){
	.navigation{
		display: grid;
		grid-template-columns:4fr 6fr;
	}
	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	.logo{
		width:50px;
		margin-left: 20%;
	}
.home,
.about,
.portfolio{
	border-right: 1px solid white;	
	text-shadow: black 0.1em 0.1em 0.2em;
}
nav ul li a{
	font-size: 20px;
	color: rgb(255, 255, 255);
	

}
nav a:hover,
nav a.active{
	font-size: 23px;
}
	
h1{
	font-size: 80px;
	margin:20px 90px 90px 90px;
}

.Jobtitle{
	font-size: 35px;
	font-family: 'Caveat', cursive;
	margin-top: 60px;
}

p{
	font-size: 25px;
	text-align: center;
	margin: 2%;
	line-height: 200%;
}

.photography h1{
	font-size: 30px;
}

a.cms, a.por{
	font-size: 28px;
}
a.cms:hover, a.por:hover{
	font-size:30px ;
	color: rgb(19, 19, 19); 

}
main{
	margin: 20px;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-areas:
	"por cms";
}
main .section1{
	grid-area:cms;
}
main .section2{
	grid-area: por;
}
.section2{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.website, 
	.photography,
	.graphics,
	.video{
		padding: 38% 33%;
		margin:20px 10px 20px 20px;
		margin-top: 40px;
		
	}
	/* changed the font and a logo size */
	footer .logo{
		width:30px;
		margin: 0 0 0 50px;
	}
	footer div{
		margin:20px 0;
		font-size: 20px;
		
	}

	.text{
        display: grid;
       grid-template-columns: 1fr 1fr;       
    }
	.text h2{
    margin-top: 5px;
	}

}