/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom style */

body {
	padding: 0;
    margin: 1rem;
    background:  url("../img/body-bg.jpg") no-repeat center  /cover;
	background-size: cover;
	font-family:'Merienda One', cursive ;
	font-size: 1rem;
}

.container {
	max-width: 1300px;
	width: 100%;
	
}

.site-header {
	background-color:rgba(236, 245, 241, 0.548);
	text-align: center;
	padding: 52px 30px;
	margin: 0 2px;
}

.logo {
	max-width: 200px;
	box-shadow:none;
	width: 100%;
}
nav ul {	
	list-style-type: none;
	padding:0 10px ;
	margin: 0  18px;


}


nav a:link {
	text-decoration: none;
	color:white;
	background:  rgba(183, 199, 192, 0.288);
	padding:10px 20px;
	display: block;
	
	font-family: 'Merienda One', cursive;
	font-size: 2rem;
}

nav a:hover{
	background: rgba(184, 214, 203, 0.863)

}
nav a:focus,
nav a.active {
	background-color: rgba(165, 214, 188, 0.856);
	text-decoration: underline;

}
nav a:active {
	background-color: rgba(184, 214, 203, 0.863);
    color:rgb(33, 82, 71);
}
nav ul li:last-child{
   border: none;
}
article {
	background-color: rgba(203, 218, 203, 0.396);
	color: white;	
	width: 100%;
	margin: 2.6px;
	text-align: center;
	 max-width: 79%;
	padding: 10%;  
}
	img{
		max-width: 100%;
		box-shadow: 4px 6px 6px 2px #000;
	}

	h1{
		font-family: 'Niconne', cursive;
		font-size: 1.5rem;
		text-align: center;
		color: aliceblue;

	}
	.content2 {		
		color: white;
		
	}
	footer{
		background: rgb(130, 180, 180,0.3);
		color: white;
		text-align: center;
	}
	i,a{
		color: white;
	}

	/*About style */
	th,td{
		border: 1px solid black;
		padding:7px;
		text-align: center;
	  }
	  
	  .day{
		  background: rgba(28, 31, 30, 0.842);
	  }
	  thead{
		background-color: rgba(28, 31, 30, 0.842);
		color:white;
	  }
	  table{
		
		max-width: 100%;
		margin: 30px auto;
	}
.ottawa{
	margin: 20px;
}
	.cake-rainbow{
		
		margin: 0 10px;
	}
	h2{
		color:rgba(55, 61, 60, 0.897);
		font-family:'Merienda One', cursive;
		font-size: 2rem;
	}
	/*Contact*/
	form {
		font-family: 'Merienda One', cursive;
	  }
	  
		form{
		background: rgba(194, 221, 224, 0.541);
		
		padding: 50px;
		border: 2px solid;
		padding: 20px;
		margin:0;
		  font-size:1rem;
	  
	  }
	   textarea,
		input {
		  display: block;
		  font-size: 1rem;
		  border:2px solid white;
		  margin:10px auto;
		 width:100%;
		 
		  background: rgba(192, 217, 221, 0.722); 
	  
	  }
	  textarea:focus,
	  input:focus{
		outline-color: white;
		border-color: white;
	   
	  }
	  input[type="checkbox"]{
		 width:auto;
		display: inline-block;
	  }
	  
	  textarea{
		height: 3rem;
		margin: auto;
		width:100%;
		resize: none;
		padding:0 0 10px 0;
		  
	  }

	  iframe{
		  width: 99.7%;
	  }
	  
	 
	 
	  
	  button{
		
		 width: 100%;
		color: white;
		font-size: 1rem;
		letter-spacing:.1em ;
		cursor: pointer; 
		font-family: 'Merienda One', cursive;
		background:lightgray;
		padding:5px;
		 margin:6px auto;
	  }
	  button:hover{
		background:rgb(219 226 228);
	  }



	


/*Desktop View*/
	@media screen and (min-width: 768px){
		nav ul li{
		float: none;
		border: none;
		width: 100%;
	}
	nav ul li {
		min-width: 130px;
		float: left;
		width: 33.22%;
		border-right: 1px solid white;	
	}
	
	.main-content{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr ;
		grid-template-areas:
				"cake1 cake2 cake3"
				"cake6 cake5 cake4 ";
				grid-gap:30px;

	}
.main-content .cake1{
	grid-area: cake1;
}
.main-content .cake2{
	grid-area: cake2;
}
.main-content .cake3{
	grid-area: cake3;
}
.main-content .cake6{
	grid-area: cake6;
}
.main-content .cake5{
	grid-area: cake5;
}
.main-content .cake4{
	grid-area: cake4;
}

.main-content{
			padding: 10.3%;

}
/*About*/
.container1{
	overflow: auto;
}
.cake-rainbow{
	width:50%;
	/* margin:0; */
	float: left;
}
.container{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap:10px;
	margin: 0 auto;
}

/*contact*/
iframe{
	margin: 4rem 0;
}




}